#ok{
    display: none;
}
.cardz{
    /* the important one */
    transform-style: preserve-3d;
    height: 80vh;
    width: 75rem;
    background-color:white;
    /* also an important one */
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0 0 50px rgba(0,0,0,0.2);
    border-radius: 30px;
    padding: 0rem 5rem;
    margin: 15px;
    background-color: white;
    position: absolute;
    left: 13%;
    background-image: url('https://media.giphy.com/media/rndVYAbcMGxva/giphy.gif');
    background-repeat: no-repeat;
    background-size:cover;
}

.cardz2{
    /* the important one */
    transform-style: preserve-3d;
    height: 80vh;
    width: 75rem;
    /* also an important one */
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0 0 50px rgba(0,0,0,0.2);
    border-radius: 30px;
    padding: 0rem 5rem;
    margin: 15px;
    background-color: white;
    position: absolute;
    left: 13%;
    text-align: center;
}
.about{
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    width: 40vw;
    height: 60vh;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0 0 50px rgba(0,0,0,0.2);
    border-radius: 30px;
    margin: auto;
    position: absolute;
}
.about p{
    text-align: left;
}
.about h3{
    text-align: center;
}
#one{
    top: 10%;
    left: 30vw;
}
#two{
    top: 80%;
    left: 30vw;
}
#three{
    top: 150%;
    left: 30vw;
}
.left{
    display: inline-block;
    width: 22%;
}
.right{
    display: inline-block;
    width: 22%;
    position: absolute;
    right: 0
}

.editz{
    /* the important one */
    transform-style: preserve-3d;
    height: 80vh;
    width: 35rem;
    /* also an important one */
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0 0 50px rgba(0,0,0,0.2);
    border-radius: 30px;
    padding: 0rem 5rem;
    margin: 15px;
    background-image: url('https://media.giphy.com/media/Qs1slIKfVXCcR0vR3O/giphy.gif');
    position: absolute;
    text-align: center;
    color: black;
}